$bg-header-color: #BDC278;
$light-text: #F5F6E7;
header {
    display: flex;
    justify-content: space-between;
    background-color: $bg-header-color;
    section {
        display: flex;
        flex-wrap: wrap;
    }
}
.logo {
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    font-family: Georgia;
    padding: 0.7rem;
    * {
        text-decoration: none;
        color: $light-text;
    }
}
.links{
    align-items: center;
    justify-content: space-around;
    width: auto;
    gap: 3rem;
    padding: 0.7rem;
    .header-link {
        font-family: Arial;
        font-size: 22px;
        color: $light-text;
        text-decoration: none;
    }
}